$font-stack:    Helvetica, sans-serif;
$primary-color: red;
$background-color: blue;
$title-color: blue;
$menu-background: gray;

body {
	font: 120% $font-stack;
	background-color: white;
}

h1 {
	color: $title-color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: $menu-background;
  }
 
  li { display: inline-block; }
 
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #blue;

  }

	a:hover {
		color:white;
	}

}